########################################################################
#
# Based on DIME .gitignore template. Follow the instructions in the URL
# below to set up this template in your own repository
# https://github.com/worldbank/dime-github-trainings/tree/master/GitHub-resources/DIME-GitHub-Templates
#
# This is GLD GitIgnore version 2.0
#
########################################################################

#######################
# Start by ignoring everything, and below we are explicitly saying
# what to not ignore
*


#######################
# First, whitelist anything that's a directory
!*/

#######################
# List of files with GitHub functionality anywhere in the repo
# that we do not want to ignore

# These files include GitHub settings
!.gitignore
!.gitattributes

# Keep markdown files used for documentation on GitHub
!README.md
!CONTRIBUTING.md
!LICENSE*
!CODE_OF_CONDUCT.md


#######################
# We only want to publish three kinds of things:
# i) harmonization files in Stata or R (potentially others),
# ii) context information and guides under Support, and
# iii) information for the website under docs

#######################
###  Section i)     ###
#######################

# For the harmonization files, they should always be from the Programs file, that is under
# CCC_YYYY_Survey/CCC_YYYY_Survey_Version_GLD/Programs. Hence we allow

# Stata
!GLD/*/*/*/Programs/*.do

# R
!GLD/*/*/*/Programs/*.R


#######################
###  Section ii)    ###
#######################

# For Support context information, allow Markdown, xlsx, csv, and docx, R and Stata code, and Stata files.
!Support/**/*.md
!Support/**/*.xlsx
!Support/**/*.docx
!Support/**/*.R
!Support/**/*.do
!Support/**/*.ado
!Support/**/*.dta
!Support/**/*.dct
!Support/**/*.csv

# Allow also PDF andimages if needed
!/Support/**/*.pdf
!Support/**/*.png
!Support/**/*.svg


#######################
###  Section iii)    ###
#######################

# For the website, allow

# Markdown files
!docs/**/*.md

#Files to create custom layout and functionality
# in dashboards, markdown notebooks, bookdown etc.
!docs/**/*.css
!docs/**/*.scss
!docs/**/*.js

# Files for images
!docs/**/*.png
!docs/**/*.svg

# HTML files
!docs/**/*.html

# .yml and .yaml files
# These files sometimes have credentials, so only unignore these lines by removing
# the "#" below after you checked your .yml/.yaml files for sensitive content
!docs/**/*.yml
!docs/**/*.yaml

#  Other files for github pages
!docs/**/*.gem
!.bundle
!.ruby-version
!.jekyll-cache
!.sass-cache
!_site
!Gemfile.lock
!node_modules

#######################
###  Section iv)    ###
#######################

# For the issues form, allow

# Markdown files
!.github/**/*.md

# YAML files
!.github/**/*.yml
