name: Publish to GitHub Pages

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Dependencies
        run: |
          if [ -f docs/requirements.txt ]; then pip install -r docs/requirements.txt; fi
      - name: Dynamically Generate Script Page
        run: |
          ls
          cd ..
          ls
          python docs/scripts/script_structure.py
      - name: Build Jupyter Book
        run: |
          jupyter-book build . --config docs/_config.yml --toc docs/_toc.yml
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main' && job.status == 'success'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_build/html
          enable_jekyll: false
